body {
    background-color: black;
    color: #999;
}

#clock {
    font-size: 35vw;
}

#calendar {
    height: 10vw;
}
#event-name {
    font-size: 5vw;
    margin-right: 20px;
}

#event-time {
    font-size: 5vw;
}
