#buttons {
    height: 50%;
}

#range {
    height: 50%;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 35px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #ffda9e;
    border-radius: 5px;
    border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #000000;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background: #fff2a8;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -35px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffe4b8;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #ffda9e;
    border-radius: 5px;
    border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #000000;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background: #fff2a8;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #ffd084;
    border: 0px solid #010101;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #ffda9e;
    border: 0px solid #010101;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #000000;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background: #fff2a8;
    cursor: pointer;
    height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #ffda9e;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ffe4b8;
}

